// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 45rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.note {
  max-width: 44%;
  border: 2px solid var(--box-border);
  border-radius: 10px;
  box-shadow: 2px 2px 1px var(--mast-shadow);
  padding: var(--spacer);
  margin-bottom: var(--spacer);
}

@media only screen and (max-width: 600px) {
  .note{max-width: 95%;}
}