// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
    text-shadow: 2px 2px 1px var(--gray-400);
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}
